@import './variable.scss';

button {
    position: absolute;
    
    width: $button-width;
    height: $button-height;

    background-color: $background-color;
    border: 1px solid $button-color;
    color: $button-color;
}

button:hover {
    cursor: pointer;

    background-color: $button-hoverColor;
}