$background: transparent;
$key-color: #266bb5;

$circle: (
    width: 25px,
    height: 25px,
    radius: 50%,
);

$rect: (
    width: 150px,
    height: 50px,
    color: $key-color,
    hoverColor: #3f3f3f,
);