@import './css/common.scss';
@import './css/variable.scss';

#button-container > * {
    position: absolute;
}

#displayButton,
#volumeButton {
    width: map-get($map: $circle, $key: width);
    height: map-get($map: $circle, $key: height);

    border: none;
    border-radius: map-get($map: $circle, $key: radius);

    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

#displayButton:hover,
#volumeButton:hover {
    filter: brightness(0.7);
}

#displayButton {
    top: 10%;
    left: 80%;
}

#volumeButton {
    top: 10%;
    left: 83%;
}

#cartesianAxesButton,
#launchPointButton {
    width: map-get($map: $rect, $key: width);
    height: map-get($map: $rect, $key: height);

    border: 1px solid map-get($map: $rect, $key: color);
    color: map-get($map: $rect, $key: color);
}

#cartesianAxesButton:hover,
#launchPointButton:hover {
    background-color: map-get($map: $rect, $key: hoverColor)
}

#cartesianAxesButton {
    top: 80%;
    left: 80%;
}

#launchPointButton {
    top: 70%;
    left: 80%;
}

#phrase {
    top: 10%;
    left: 50%;
    color: $key-color;
    transform: translate(-50%, 0%);
}