@import './css/common.scss';
@import './css/variable.scss';

#button-container {
    position: absolute;
    top: 10%;
    left: 80%;
    transform: translateX(-50%);
    display: flex;
    gap: $icon-gap;
}

span {
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: $icon-size;
    height: $icon-size;
    filter: brightness(1.2); 
    transition: filter 0.2s ease;
}

span:hover {
    cursor: pointer;
    filter: brightness(1.6);
}