@import './css/common.scss';
@import './css/variable.scss';

html,
body,
#container {
    width: 100%;
    height: 100%;
}

#cartesianAxesButton {
    top: 80%;
    left: 80%;
}

#launchPointButton {
    top: 70%;
    left: 80%;
}